{{ define "main" }}
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ .Site.BaseURL }}">Главная</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ " gallery " | absURL }}">Галерея</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ .Title }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>
    <section class="bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <h1 class="display-4">{{ .Title }}</h1>
                    <span class="lead">{{ .Description }}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery-block grid-gallery">
        <div class="container">
            <div class="row">
                {{ $images := .Params.images }} {{ range $k, $v := $images }}
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="{{ $v | absURL }}">
                        <img class="img-fluid image scale-on-hover" src="{{ $v | absURL }}">
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</div>
{{ end }}