<section class="bg-white">
    <div class="container">
        <div class="row justify-content-center text-center section-intro">
            <div class="col-12 col-md-9 col-lg-8">
                <span class="title-decorative">Light On Fuss</span>
                <h2 class="display-4">Heavy on swish looks</h2>
                <span class="lead">An opportunity to introduce the major benefits of your product and set the scene for what's to come</span>

            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
        <div class="row justify-content-around">
            <div class="col-12 col-md-6 col-lg-5">
                <i class="text-teal h1 icon-fingerprint"></i>
                <h5>Take it widescreen</h5>
                <p>
                    A self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
                </p>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="media">
                                <i class="icon-hand mr-2"></i>
                                <div class="media-body">
                                    <h6>Media</h6>
                                    <p>
                                        A short description of the aforementioned facet to easily digest. No need to divulge too much information in this text area.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <i class="icon-layers mr-2"></i>
                                <div class="media-body">
                                    <h6>Cards</h6>
                                    <p>
                                        Another brief description of a facet that, as before, doesn't need to go into great detail.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-6 col-lg-5">
                <i class="text-purple h1 icon-tablet-mobile-combo"></i>
                <h5>Forget compromise</h5>
                <p>
                    A self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
                </p>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="media">
                                <i class="icon-credit-card mr-2"></i>
                                <div class="media-body">
                                    <h6>Payment</h6>
                                    <p>
                                        A short description of the aforementioned facet to easily digest. No need to divulge too much information in this text area.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <i class="icon-game-controller mr-2"></i>
                                <div class="media-body">
                                    <h6>Collaboration</h6>
                                    <p>
                                        Another brief description of a facet that, as before, doesn't need to go into great detail.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
        <div class="row justify-content-center text-center section-outro">
            <div class="col-lg-4 col-md-5">
                <h6>Introducing a new way</h6>
                <p>An opportunity to introduce the major benefits of your product and set the scene for what's to come</p>
                <a href="#">View more features &rsaquo;</a>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>