<script type="text/javascript" src="{{ "js/jquery.min.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/popper.min.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/jquery.smartWizard.min.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/flickity.pkgd.min.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/scrollMonitor.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/smooth-scroll.polyfills.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/prism.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/zoom-vanilla.min.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/bootstrap.min.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/theme.min.js" | absURL}}"></script>
