{{ define "main" }}

<div class="nav-container"></div>

<div class="main-container">
    <section class="height-100 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <i class="icon-compass display-4"></i>
                    <h1 class="h2">Страница не найдена (404)</h1>
                    <span>Запрошенная Вами страница не найдена. <a href="index.html" class="text-white">Вернитесь на главную</a> или <a href="contact.html" class="text-white">Свяжитесь с Нами</a>, если думаете, что это ошибка.</span>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
    </section>
</div>

{{ end }}
